/* .item {
    width: 30%;
    border: 1px solid rgb(145, 141, 141);
    margin-right: 3%;
    padding: 10px;
    border-radius:15px;
}

.item button {
    border-color: rgb(41, 59, 116);
    background-color:rgb(33,47,92);
    border-radius:10px;
    color:white;
    width: 70%;
    margin-left: 15%;
}
.item p {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
}
.item p::after {
    content: "";
	text-align: right;
	position: absolute;
	bottom: 0;   
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
} */