@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

.FilDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
}

.Filter{
    height: 35px;
    
    width: 120px;
    /* padding: 16px 32px; */
    border-radius: 20px;
    border-color:rgb(33,47,92);
    /* margin-left: 26%;*/
    margin-right: 5%; 
    background-color:rgb(33,47,92);
    color:white;
}

.FilterP{
    height: 44px;
    
    width: 120px;
    /* padding: 16px 32px; */
    /* border-radius: 20px; */
    /* margin-left: 26%;*/
    margin-right: 5%; 
    border-radius:20px 20px 0 0;
    border:1px solid rgb(33,47,92);
    /* background-color:rgb(44, 63, 124); */
    background-color:rgb(235,235,235);
    color:rgb(23, 36, 77);
    border-width: 2px 2px 0 2px;
    z-index: 2000;
    font-weight: bold;
}

.Filter:hover{
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
-moz-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
}

/*.Filter:hover~.DivWithFil{
    display: flex;
}

.DivWithFil:hover~.Filter{
    border-radius:20px 20px 0 0;
}

.DivWithFil:hover{
    display:flex;
} */

.DivWithFil
{
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 45px;
    left: 20%;
    position: absolute;
    width: 70%;
    height: 340px;
    border: 2px solid rgb(23, 36, 77); 
    background-color: rgb(235,235,235);
    
    color:rgb(44, 63, 124);
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    border-radius: 7px;
    
}

.AllFilters{
    display: flex;
    height: 85%;
    width: 100%;
}

.Facult{
    margin-top: 5px;
    /* height: 95%; */
    width: 32%;
    margin-right: 0.9%;
    /* border: 1px solid black;  */
    
}

.Cafed{
    margin-top: 5px;
    margin-left: 1%;
    
    /* height: 95%; */
    width: 32%;
    margin-right: 0.9%;

    /* border: 1px solid black;  */
}

.FilButs::-webkit-scrollbar{
    width: 6px;
    /* border-radius: 5px; */
    /* margin-left: 20px; */
}
.FilButs::-webkit-scrollbar-track{
    width: 6px;
    border-radius: 5px;
    background-color: rgb(186, 186, 201);
    /* margin-left: 20px; */
}
.FilButs::-webkit-scrollbar-thumb{
    width: 6px;
    border-radius: 10px;
    background-color:rgb(124, 124, 124);
}

.Str{
    height: 6.6%;
    text-align: center;
}

.FilButs{
    border: 1px solid rgb(163, 163, 163);
    margin-top: 2px;
    height: 93.2%;
    /* overflow-y: scroll; */
    overflow-y: auto;
    overflow-x: hidden;
    /* scroll-margin-left: 10px; */

    border-width: 1px 0 1px 0;
}

/* .FilButs button{
    width: 100%;
    text-align: left;
    min-height: 30px;
    border: 1px solid rgb(163, 163, 163);
    border-width: 0 0 1px 0;
    background-color: rgb(235,235,235);
    color:rgb(23, 36, 77);
    font-weight: bold;
} */

.Choose{
    /* background-color:rgb(44, 63, 124); */
    width: 100%;
    text-align: left;
    min-height: 30px;
    border: 1px solid rgb(163, 163, 163);
    border-width: 0 0 1px 0;
    background-color: rgb(235,235,235);
    color:rgb(23, 36, 77);
    font-weight: bold;
    border-left:5px solid rgb(137, 199, 62);
    -webkit-box-shadow: inset -2.5px 0 6px 0 rgba(34, 60, 80, 0.2);
-moz-box-shadow: inset -2.5px 0 6px 0 rgba(34, 60, 80, 0.2);
box-shadow: inset 0px 0 6px 0 rgba(34, 60, 80, 0.5);

}

.Choose:hover {
    background-color:rgb(217,221,233);
}

.NotChoose{
    /* background-color:rgb(44, 63, 124); */
    width: 100%;
    text-align: left;
    min-height: 30px;
    border: 1px solid rgb(163, 163, 163);
    border-width: 0 0 1px 0;
    background-color: rgb(235,235,235);
    color:rgb(23, 36, 77);
    font-weight: bold;
}

.NotChoose:hover {
    background-color:rgb(217,221,233);
}

.Spec{
    margin-top: 5px;
    /* height: 95%; */
    width: 32%;
    /* border: 1px solid black;  */
}

.ApplyDel{
    display: flex;
    width: 100%;
    align-items:center;
    margin-top: 1.5%; 
    position: relative;
    justify-content: center;
}

.ApplyDel button{
    width: 120px;
    height: 25px;
    border-radius: 12px;
    /* color: white; */
    background-color:rgb(235,235,235);
    /* background-color:rgb(33,47,92); */
}

.Apply{
    /* position: relative; */
    border: 1.5px solid rgb(33,47,92);
    /* border: 1.5px solid rgb(153, 204, 90); */
    margin-right: 10%;
    color: rgb(33,47,92);
}

/* .Apply:before, .Apply:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.Apply:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.Apply:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.Apply:hover:before, .Apply:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.Apply:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.Apply:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.Apply:hover {
  background: rgba(255, 255, 255, .2);
} */

.Apply:hover{
    border-width:2px;
    /* color: rgb(33,47,92); */
    /* background-color:rgb(47, 83, 201); */
    /* font-weight: 500; */
}
.Apply:active{
    color: white;
    background-color:rgb(35, 50, 100);
}

.Del{
    border: 1.5px solid rgb(211, 59, 59);
    color: rgb(211, 59, 59);
}
.Del:hover{
    border-width:2px;
    /* color: rgb(33,47,92); */
    /* background-color:rgb(47, 83, 201); */
}
.Del:active{
    background-color: rgb(211, 59, 59);
    color: white;
}


.Sort{
    position: relative;
    height: 35px;
    width: 120px;
    /* padding: 16px 32px; */
    border-radius: 20px;
    border-color:rgb(33,47,92);
    background-color:rgb(33,47,92);
    color:white;
}
.Sort:hover{
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
-moz-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
}

.SortP{
    height: 44px;
    width: 120px;
    /* padding: 16px 32px; */
    /* border-radius: 20px; */
    /* margin-left: 26%;*/
    border:1px solid rgb(33,47,92);
    border-radius:20px 20px 0 0;
    /* background-color:rgb(44, 63, 124); */
    background-color:rgb(235,235,235);
    color:rgb(23, 36, 77);
    border-width: 2px 2px 0 2px;
    z-index: 2000;
    font-weight: bold;
}

.DivWithSort{
    /* display: flex; */
    float: none;
    z-index: 100;
    top: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* right: 36.7%; */
    left: 49%;
    position: absolute;
    width: 250px;
    height:fit-content;
    border: 2px solid rgb(23, 36, 77); 
    background-color: rgb(235,235,235);
    
    color:rgb(44, 63, 124);
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    border-radius: 5px;
}

.DivWithSort button{
    margin-left: 1%;
    width: 98%;
}
