.form{
    position: relative;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    width: fit-content;
    /* margin-left: 36%; */
}

.form input{
    height: 16px;
    display: block;
    width: 300px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgb(33,47,92);
    transition: all 0.4s ease;   
    /* margin-bottom: 5px; */
    margin-right: 2px;
    border-radius: 15px 0 0 15px;
}

.form input:hover{
    border-color:rgb(31, 31, 223);
} 

.but{
    background-color: rgb(33,47,92);
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 0 15px 15px 0;
    /* text-transform: uppercase; */
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    text-decoration: none;
  }
  .but:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(14, 126, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  .but:focus, .but:hover {
    background: rgb(33,47,92);
  }
  .but:active:after {
    width: 200px;
    height: 200px;
  }

.pp{
    position: absolute;
    top: 20px;
    width: 200px;
    text-align: center;
    color: rgb(33,47,92);
}
/* .but:hover{
    cursor: pointer;
    -webkit-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.but:active{
    background-color: rgb(131, 174, 223);
    color: rgb(33,47,92);
    -webkit-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
-moz-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49); */
    /* background-color: rgb(28, 64, 180);
    color: white; 
}*/

/* .pp{
    opacity: 0;;     
    margin: 5px;
}
.pp:target{
    opacity: 1;
} */

.break{
    width: 100%;
    height: 0;
}

.CancelFind{
    position: absolute;
    height: 20px;
    width: 20px;
    /* top:-31px;
    margin-left: 200px; */
    right: 98px;
    border-radius:50%;
    background-color:rgb(201, 58, 19);
    color: white;
    border: 1px solid rgb(82, 3, 3);
    padding-left: 5px;
}
.CancelFind:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.CancelFind:active{
    color: red;
    border-color: red;
    background-color:white;
}



