.form{
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.form input{
    height: 16px;
    display: block;
    width: 300px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgb(33,47,92);
    transition: all 0.4s ease;   
    /* margin-bottom: 5px; */
    margin-right: 2px;
    border-radius: 15px 0 0 15px;
}

.form input:hover{
    border-color:rgb(31, 31, 223);
} 

.but{
    background-color: rgb(33,47,92);
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 0 15px 15px 0;
}
.but:hover{
    cursor: pointer;
    -webkit-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.but:active{
    background-color: rgb(131, 174, 223);
    color: rgb(33,47,92);
    -webkit-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
-moz-box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.49);
    /* background-color: rgb(28, 64, 180);
    color: white; */
}

/* .pp{
    opacity: 0;;     
    margin: 5px;
}
.pp:target{
    opacity: 1;
} */

.break{
    width: 100%;
    height: 0;
}

.CancelFind{
    position: relative;
    height: 20px;
    width: 20px;
    /* top:-31px;
    margin-left: 200px; */
    right: 120px;
    border-radius:50%;
    background-color:rgb(201, 58, 19);
    color: white;
    border: 1px solid rgb(82, 3, 3);
    padding-left: 5px;
}
.CancelFind:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.CancelFind:active{
    color: red;
    border-color: red;
    background-color:white;
}