.BarDivs{
    width: 80%;
    border: 2px solid rgb(33,47,92);
    border-radius:20px;
    margin-left: 10%;
    background-color: rgb(235,235,235);
    /* height: 500px; */
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.hIndexData{
    padding: 20px;
}