.MainDiv{
    width: 100;
}

.Graph{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 1000;
    background-color:aqua;
    margin: 10px 0 0 0;
    left:0;
    right: 0;
}

/* .DivForTop3{
} */

.Top3Header{
    color:rgb(33,47,92);
    
    text-align: center;
}

.blockIt {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
}

.blockIt .item:first-child{
    /* margin-left: 9%; */
    background-image: url(../backgroundForTop/goldbstu.jpg);
    /* background-color:blue; */
}

.blockIt .item:nth-child(2){
    margin-right: 0.5%;
    margin-left: 0.5%;
    background-image: url(../backgroundForTop/silverbstu.jpg);
}

.blockIt .item:last-child{
    background-image: url(../backgroundForTop/bronzebstu.jpg);
}


@media(max-width: 900px){
    .blockIt{
        /* flex-wrap: wrap-reverse; */
        flex-direction: column;
        justify-content: space-around;
        /* height: 300px; */       
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    border: 1px solid rgb(145, 141, 141);
    /* margin-right: 3%; */
    padding: 5px;
    border-radius:15px;
    align-items:center;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size:contain;      */
    background-size: 100px;
    background-repeat: no-repeat;
}
.item p:first-child{
    margin-top: 0;
}
.item p:nth-child(2){
    margin-top: 0;
    margin-bottom: 8px;
}
.item p:last-child{
    margin-top: 8px;
    margin-bottom: 0;
}

.topSection{
    margin-left: 19%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 80%;
}

.FIO{
    width: 70%;
}
.F{
    font-size: 22px;
    margin-bottom: 0;
}
.IO{
    margin-top: 5px;
    font-size: 20px;
}

.item h3{
    text-align: center;
    color:rgb(33,47,92);
}

.item button {
    border-color: rgb(41, 59, 116);
    background-color:rgb(33,47,92);
    border-radius:10px;
    color:white;
    width: 20%;
    height: 100%;
    max-width: 160px;
    padding-top: 2px;
    padding-bottom: 2px;
    display:block;
    margin:auto;
    margin-top: 10px;
    /* margin-left: 15%; */
}
.item p {
    /* margin-left: 2.5%;*/
    margin-right: 0; 
    text-align: center;
    /* font-size: 18px; */
    width: 95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
    color: rgb(33,47,92);
}
/* .item p::after {
    content: "";
	text-align: right;
	position: absolute;
	bottom: 0;   
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
} */

.ProfilePhoto{
    display:block;
    margin:auto;
    height: 90px;
}

.divb 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt
{   
    background-color: rgb(33,47,92);
    color: white;
    height: 30px;
    width: 90px;
    
    border: 2px solid rgb(33,47,92);
}

.Disable{
    background-color: white;
    color: rgb(33,47,92);
    height: 30px;
    width: 90px;
    
    border: 2px solid rgb(33,47,92);
}

/* .butt:hover{
    background-color:rgb(36, 78, 216);
} */

#left
{
    /* background-color: rgb(33,47,92);
    color: white;
    height: 30px;
    width: 90px;
    margin: 0 1px; */
    border-radius: 15px 0 0 15px;
}
#right
{
    /* background-color: rgb(33,47,92);
    color: white;
    height: 30px;
    width: 90px;
    margin: 0 1px; */
    border-radius: 0 15px 15px 0;
}

#right:hover{
    -webkit-box-shadow: 4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    cursor:pointer;
}

#left:hover{
    -webkit-box-shadow: -4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: -4px 0px 8px 2px rgba(34, 60, 80, 0.2);
    cursor:pointer;
}



